.App {
    text-align: center;
  }
  
  .stock-container {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .h-container{
    padding: 3vh;
    margin: 3em;
    height: 696px;
    background: rgba(97, 109, 105, 0.603);
  }
  .container-fluid{
    background: rgb(117, 111, 111);
    color: azure;
    padding: 2vh;
    margin: auto;
    height: 600px;
  }

